/* ==========================================================================
   card / component
   ========================================================================== */

.card {
    align-items: center;
    color: var(--color-primary);
    display: flex;
    font: 3rem var(--font-primary);
    justify-content: center;
    min-height: 200px;
    position: relative;

    transition: color 0.5s $ease-out-expo;
    width: 100%;
    z-index: 1;

    &::before {
        background-color: var(--color-white);
        border-radius: 10px;
        content: '';
        @include cover();
        transition: 0.5s $ease-out-expo;
        transition-property: background, transform;
        z-index: -1;
    }

    // hover
    a:hover & {
        color: var(--color-white);
        text-decoration: none;

        &::before {
            background-color: var(--color-primary);
            transform: scale(1.05);
        }
    }
}
