/* ==========================================================================
   SECTION / COMPONENTS
   ========================================================================== */

.section {
    padding: var(--spacing-md) calc(var(--spacing-md) / 2);
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
    overflow: hidden;
}

.section--full {
    padding-left: 0;
    padding-right: 0;
}

.section__title {
    grid-template: 2 / -2;
    text-align: center;
}
