/* ==========================================================================
   video / component
   ========================================================================== */

.video {
    color: var(--color-white);
    text-align: center;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        text-shadow: 0 0 4px rgba(0, 0, 0, 1);
        transition: 0.4s $ease-out-expo;
        transition-property: opacity, transform;
        transform-origin: 0 0;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    &:hover .icon {
        transform: scale(0.8) translate(-50%, -50%);
    }
}
